n8n/marketing-engine-ai.json
{
  "name": "TB — Marketing Engine AI (backend for the engine page)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-engine-d0195f21652a",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "j1000000-0000-4000-8000-000000000001",
      "name": "Engine Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "marketing-engine-d0195f21652a"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst clean = (s, n) => (typeof s === 'string' ? s.trim().slice(0, n || 300) : '');\n\nconst kind = clean(body.kind, 40);\nconst business = clean(body.business) || 'the business';\nconst niche = clean(body.niche) || 'local services';\nconst city = clean(body.city) || 'Chester County, PA';\nconst goal = clean(body.goal, 500) || 'get more customers';\nconst budget = clean(body.budget, 60) || 'small budget';\nconst extra = clean(body.extra, 1200);\n\nconst ctx = `Business: ${business}\\nNiche: ${niche}\\nLocation: ${city}\\nGoal: ${goal}\\nMonthly marketing budget: ${budget}\\n${extra ? 'Extra context: ' + extra : ''}`;\n\nconst T = {\n  plan: `You are a senior local-business marketing strategist. Create a concrete 30-day marketing plan.\\n\\n${ctx}\\n\\nInclude: positioning statement, budget split across channels (real dollar amounts from the stated budget), week-by-week actions (specific, doable by one person), 3 KPIs to track, and the single highest-leverage move to do first. Be specific to the niche and location — no generic fluff.`,\n  ad_copy: `You are a direct-response copywriter for local businesses. Write a complete ad copy pack.\\n\\n${ctx}\\n\\nDeliver:\\n1) META — 3 ad variants (angle label, hook line, primary text under 90 words, headline, CTA button choice)\\n2) GOOGLE RSA — 12 headlines (max 30 chars each) + 4 descriptions (max 90 chars each), high-intent local keywords woven in\\n3) TIKTOK — 3 video concepts (hook line for first 2 seconds, 15-second script outline, on-screen text)\\nMake every line specific to the niche and city.`,\n  website_copy: `You are a conversion copywriter. Write complete website copy for a one-page site.\\n\\n${ctx}\\n\\nSections: hero (headline + subhead + CTA), 3 service blocks (name + 2-sentence pitch), why-us (3 proof points), short about, FAQ (4 questions with answers), final CTA block. Tone: confident, local, zero corporate fluff. Include a clear pricing signal.`,\n  email_sequence: `You are an email marketer. Write a 5-email nurture sequence for new leads.\\n\\n${ctx}\\n\\nFor each email: send-day (0,2,4,7,11), subject line, body under 120 words, one clear CTA. Email 1 = instant value, 2 = proof/story, 3 = objection killer, 4 = offer with light urgency, 5 = polite breakup that leaves door open.`,\n  social_calendar: `You are a social media manager for local businesses. Create a 14-day content calendar.\\n\\n${ctx}\\n\\nFor each day: platform (FB/IG/TikTok), post type (photo/reel/story/text), caption written out in full, and 5 hashtags. Mix: proof/results, behind-the-scenes, local references, offers (max 3 of 14), and engagement questions.`,\n  research: `You are a market researcher. Write a competitor & positioning brief.\\n\\n${ctx}\\n\\nCover: what the top competitors in this niche typically offer and charge, the 3 most common messaging angles in the market, gaps a small operator can exploit, a recommended positioning + price stance for this business, and 5 specific things to verify locally (with how to check each). Be honest about what needs local verification vs general market knowledge.`,\n  one_pager: `You are a sales copywriter. Write a sales one-pager this business can send to a prospect.\\n\\n${ctx}\\n\\nStructure: bold headline, the problem (2 sentences), the solution (3 bullets with concrete outcomes), how it works (3 steps), simple pricing presentation, guarantee/risk-reversal, and a clear next step. Keep it under 350 words — punchy and skimmable.`\n};\n\nconst prompt = T[kind];\nif (!prompt) return [{ json: { error: 'unknown kind' } }];\nreturn [{ json: { prompt, kind } }];"
      },
      "id": "j1000000-0000-4000-8000-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "j1000000-0000-4000-8000-000000000003",
      "name": "Generate",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        440,
        -80
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "j1000000-0000-4000-8000-000000000004",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        440,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"text\": $json.text || 'Generation failed — try again.' } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "j1000000-0000-4000-8000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        -80
      ]
    }
  ],
  "connections": {
    "Engine Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}