n8n/prospect-scanner.json
{
  "name": "TB — Prospect Scanner (businesses with no website)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "h1000000-0000-4000-8000-000000000001",
      "name": "Every Monday 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Niches × towns to scan. Edit freely — each line = one Places search.\nconst queries = [\n  'car detailing in West Chester PA',\n  'landscaping company in Downingtown PA',\n  'hair salon in Coatesville PA',\n  'cleaning service in Exton PA',\n  'auto repair shop in Phoenixville PA',\n  'contractor in Kennett Square PA',\n  'barbershop in West Chester PA',\n  'restaurant in Coatesville PA'\n];\nreturn queries.map(q => ({ json: { query: q } }));"
      },
      "id": "h1000000-0000-4000-8000-000000000002",
      "name": "Build Search List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "REPLACE_WITH_GOOGLE_PLACES_API_KEY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.displayName,places.websiteUri,places.nationalPhoneNumber,places.formattedAddress,places.rating,places.userRatingCount"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ textQuery: $json.query, pageSize: 20 }) }}",
        "options": {}
      },
      "id": "h1000000-0000-4000-8000-000000000003",
      "name": "Search Google Places",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Keep businesses with NO real website (none, or social-media-only)\nconst socialOnly = /facebook\\.com|instagram\\.com|linktr\\.ee|yelp\\.com|google\\.com/i;\nconst found = [];\nconst seen = new Set();\nfor (const item of $input.all()) {\n  const places = item.json.places || [];\n  for (const p of places) {\n    const name = p.displayName && p.displayName.text ? p.displayName.text : null;\n    if (!name) continue;\n    const site = p.websiteUri || '';\n    const noSite = !site || socialOnly.test(site);\n    if (!noSite) continue;\n    const key = name.toLowerCase();\n    if (seen.has(key)) continue;\n    seen.add(key);\n    found.push({\n      business: name,\n      phone: p.nationalPhoneNumber || '',\n      address: p.formattedAddress || '',\n      rating: p.rating || null,\n      reviews: p.userRatingCount || 0,\n      site_status: site ? 'social only: ' + site : 'no website'\n    });\n  }\n}\nreturn [{ json: { found } }];"
      },
      "id": "h1000000-0000-4000-8000-000000000004",
      "name": "Filter No-Website",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": true
      },
      "id": "h1000000-0000-4000-8000-000000000005",
      "name": "Get Existing Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const found = $('Filter No-Website').first().json.found || [];\nconst existing = new Set();\nfor (const item of $input.all()) {\n  const l = item.json || {};\n  if (l.business) existing.add(String(l.business).toLowerCase());\n  if (l.name) existing.add(String(l.name).toLowerCase());\n}\nconst fresh = found.filter(f => !existing.has(f.business.toLowerCase()));\n// cap so a first run doesn't dump 100 leads at once\nreturn fresh.slice(0, 25).map(f => ({ json: f }));"
      },
      "id": "h1000000-0000-4000-8000-000000000006",
      "name": "Dedupe vs CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "leads",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ 'scan-' + $json.business.toLowerCase().replace(/[^a-z0-9]+/g, '-').slice(0, 40) }}"
            },
            {
              "fieldId": "business",
              "fieldValue": "={{ $json.business }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "stage",
              "fieldValue": "New"
            },
            {
              "fieldId": "source",
              "fieldValue": "places scan"
            },
            {
              "fieldId": "note",
              "fieldValue": "={{ $json.site_status.toUpperCase() }} — {{ $json.address }}{{ $json.rating ? ' — ' + $json.rating + '★ (' + $json.reviews + ' reviews)' : '' }} — call or find email, then set a follow-up date"
            }
          ]
        }
      },
      "id": "h1000000-0000-4000-8000-000000000007",
      "name": "Add to CRM",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Dedupe vs CRM').all();\nif (!rows.length) return [];\nconst lines = rows.map(r => {\n  const f = r.json;\n  return `• ${f.business} — ${f.phone || 'no phone listed'}\\n  ${f.site_status} · ${f.address}${f.rating ? ' · ' + f.rating + '★ (' + f.reviews + ')' : ''}`;\n});\nreturn [{ json: { count: rows.length, list: lines.join('\\n\\n') } }];"
      },
      "id": "h1000000-0000-4000-8000-000000000008",
      "name": "Build Hit List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "TB Solutions <nick@tbsol.net>",
        "toEmail": "nikbyrd28@gmail.com",
        "subject": "=🎯 {{ $json.count }} new no-website prospects this week",
        "emailFormat": "text",
        "text": "=Fresh prospects with no (real) website — every one is a $300 website + AI assistant pitch:\n\n{{ $json.list }}\n\nAll of them are already in your CRM (source: places scan). Call or dig up an email, then set a follow-up date so the autopilot takes over.",
        "options": {
          "replyTo": "nikbyrd28@gmail.com"
        }
      },
      "id": "h1000000-0000-4000-8000-000000000009",
      "name": "Email Hit List",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1760,
        0
      ]
    }
  ],
  "connections": {
    "Every Monday 7am": {
      "main": [
        [
          {
            "node": "Build Search List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search List": {
      "main": [
        [
          {
            "node": "Search Google Places",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Places": {
      "main": [
        [
          {
            "node": "Filter No-Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter No-Website": {
      "main": [
        [
          {
            "node": "Get Existing Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Leads": {
      "main": [
        [
          {
            "node": "Dedupe vs CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe vs CRM": {
      "main": [
        [
          {
            "node": "Add to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to CRM": {
      "main": [
        [
          {
            "node": "Build Hit List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Hit List": {
      "main": [
        [
          {
            "node": "Email Hit List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}