n8n/uptime-monitor.json
{
  "name": "TB — Uptime Monitor (site + engine, alerts on failure)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "u1000000-0000-4000-8000-000000000001",
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://tbsol.net/",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "u1000000-0000-4000-8000-000000000002",
      "name": "Check tbsol.net",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -80
      ]
    },
    {
      "parameters": {
        "url": "https://tbsol.net/hq",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "u1000000-0000-4000-8000-000000000003",
      "name": "Check HQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const site = $('Check tbsol.net').first().json;\nconst hq = $('Check HQ').first().json;\nconst bad = [];\nif (!site || site.statusCode >= 400 || !site.statusCode) bad.push('tbsol.net → ' + (site && site.statusCode || 'no response'));\nif (!hq || hq.statusCode >= 400 || !hq.statusCode) bad.push('tbsol.net/hq → ' + (hq && hq.statusCode || 'no response'));\nif (!bad.length) return [];\nreturn [{ json: { problems: bad.join('\\n') } }];"
      },
      "id": "u1000000-0000-4000-8000-000000000004",
      "name": "Any Down?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "TB Solutions <nick@tbsol.net>",
        "toEmail": "nikbyrd28@gmail.com",
        "subject": "🚨 TB SITE DOWN",
        "emailFormat": "text",
        "text": "=Uptime check failed:\n\n{{ $json.problems }}\n\nChecked at {{ $now.toISO() }}. Check Vercel status and your last deploy.",
        "options": {
          "replyTo": "nikbyrd28@gmail.com"
        }
      },
      "id": "u1000000-0000-4000-8000-000000000005",
      "name": "Alert Nick",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [
        [
          {
            "node": "Check tbsol.net",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check HQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check tbsol.net": {
      "main": [
        [
          {
            "node": "Any Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HQ": {
      "main": [
        [
          {
            "node": "Any Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Down?": {
      "main": [
        [
          {
            "node": "Alert Nick",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}