n8n/clients/voomlux-review-rebook.json
{
  "name": "VoomLux CRM — Post-Ride Review + Rebook",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "e1000000-0000-4000-8000-000000000001",
      "name": "Every Day 10am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bookings",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Completed"
            },
            {
              "keyName": "review_requested",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "id": "e1000000-0000-4000-8000-000000000002",
      "name": "Get Completed Rides",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.lead_id }}"
            }
          ]
        }
      },
      "id": "e1000000-0000-4000-8000-000000000003",
      "name": "Get Rider Info",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const booking = $('Get Completed Rides').item.json;\nconst rider = $json;\nif (!rider.email) return [];\nreturn [{ json: {\n  booking_id: booking.id,\n  rider_name: rider.name || 'there',\n  rider_email: rider.email\n} }];"
      },
      "id": "e1000000-0000-4000-8000-000000000004",
      "name": "Combine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "nikbyrd28@gmail.com",
        "toEmail": "={{ $json.rider_email }}",
        "subject": "How was your VoomLux ride?",
        "emailFormat": "text",
        "text": "=Hi {{ $json.rider_name }},\n\nThanks for riding with VoomLux — we hope your chauffeur made it effortless.\n\nIf you have 30 seconds, a quick Google review helps us more than you know:\n👉 REPLACE_WITH_GOOGLE_REVIEW_LINK\n\nAnd whenever you need your next ride — airport, event, or a night out — just reply to this email and we'll take care of it. Returning riders get priority booking.\n\n— The VoomLux Team\nLuxury black-SUV transportation · Philadelphia",
        "options": {}
      },
      "id": "e1000000-0000-4000-8000-000000000005",
      "name": "Send Review Request",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "bookings",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.booking_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "review_requested",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "e1000000-0000-4000-8000-000000000006",
      "name": "Mark Requested",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Every Day 10am": {
      "main": [
        [
          {
            "node": "Get Completed Rides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed Rides": {
      "main": [
        [
          {
            "node": "Get Rider Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rider Info": {
      "main": [
        [
          {
            "node": "Combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine": {
      "main": [
        [
          {
            "node": "Send Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Request": {
      "main": [
        [
          {
            "node": "Mark Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}