n8n/clients/voomlux-followup-sequencer.json
{
  "name": "VoomLux CRM — Follow-up Sequencer (daily, works by itself)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "d1000000-0000-4000-8000-000000000001",
      "name": "Every Day 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "next_followup_at",
              "condition": "lt",
              "keyValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "d1000000-0000-4000-8000-000000000002",
      "name": "Get Due Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Only chase leads still in play, cap at 3 follow-up touches\nconst out = [];\nfor (const item of $input.all()) {\n  const l = item.json;\n  if (!['New', 'Contacted', 'Quoted'].includes(l.stage)) continue;\n  if (!l.email) continue;\n  const count = Number(l.followup_count) || 0;\n  if (count >= 3) {\n    out.push({ json: { ...l, action: 'mark_lost', touch: count } });\n  } else {\n    out.push({ json: { ...l, action: 'followup', touch: count + 1 } });\n  }\n}\nreturn out;"
      },
      "id": "d1000000-0000-4000-8000-000000000003",
      "name": "Filter Due Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d2000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.action }}",
              "rightValue": "followup",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1000000-0000-4000-8000-000000000004",
      "name": "Follow Up or Close?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You write short, warm follow-up emails for VoomLux, a luxury black-SUV chauffeur service in Philadelphia. Flat rates, professional chauffeurs, no surge pricing.\n\nLead info:\n- Name: {{ $json.name }}\n- Service interest: {{ $json.service_type }}\n- Pickup date: {{ $json.pickup_date }}\n- Route: {{ $json.pickup_location }} → {{ $json.dropoff_location }}\n- Their original message: {{ $json.message }}\n- AI summary: {{ $json.ai_summary }}\n- This is follow-up touch #{{ $json.touch }} of 3 (1 = friendly check-in, 2 = add value/urgency like availability filling, 3 = polite last call).\n\nWrite the follow-up email. Keep it under 90 words, personal, zero corporate fluff, one clear ask (reply or book). Sign as \"The VoomLux Team\".\nRespond with ONLY valid JSON, no markdown fences:\n{ \"subject\": \"...\", \"body\": \"...\" }"
      },
      "id": "d1000000-0000-4000-8000-000000000005",
      "name": "Write Follow-up",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "d1000000-0000-4000-8000-000000000006",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Follow Up or Close?').item.json;\nlet ai = {};\ntry {\n  let t = $json.text || '';\n  t = t.replace(/```json|```/g, '').trim();\n  const m = t.match(/\\{[\\s\\S]*\\}/);\n  ai = m ? JSON.parse(m[0]) : {};\n} catch (e) { ai = {}; }\n\nconst touch = Number(lead.touch) || 1;\nconst daysUntilNext = touch === 1 ? 2 : 4;\nconst next = new Date(Date.now() + daysUntilNext * 24 * 60 * 60 * 1000).toISOString();\n\nreturn [{ json: {\n  ...lead,\n  email_subject: ai.subject || 'Still need a ride? — VoomLux',\n  email_body: ai.body || `Hi ${lead.name || 'there'},\\n\\nJust checking in on your ride request — we'd love to get you booked. Reply here and we'll lock in your flat-rate quote.\\n\\n— The VoomLux Team`,\n  new_followup_count: touch,\n  new_next_followup_at: next\n} }];"
      },
      "id": "d1000000-0000-4000-8000-000000000007",
      "name": "Parse Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "fromEmail": "TB Solutions <nick@tbsol.net>",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "emailFormat": "text",
        "text": "={{ $json.email_body }}",
        "options": {
          "replyTo": "nikbyrd28@gmail.com"
        }
      },
      "id": "d1000000-0000-4000-8000-000000000008",
      "name": "Send Follow-up",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stage",
              "fieldValue": "Contacted"
            },
            {
              "fieldId": "followup_count",
              "fieldValue": "={{ $json.new_followup_count }}"
            },
            {
              "fieldId": "last_contacted_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "next_followup_at",
              "fieldValue": "={{ $json.new_next_followup_at }}"
            }
          ]
        }
      },
      "id": "d1000000-0000-4000-8000-000000000009",
      "name": "Update Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1540,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "activities",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $('Parse Email').item.json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "email_out"
            },
            {
              "fieldId": "detail",
              "fieldValue": "=Follow-up #{{ $('Parse Email').item.json.new_followup_count }} sent: {{ $('Parse Email').item.json.email_subject }}"
            }
          ]
        }
      },
      "id": "d1000000-0000-4000-8000-000000000010",
      "name": "Log Activity",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "stage",
              "fieldValue": "Lost"
            },
            {
              "fieldId": "lost_reason",
              "fieldValue": "No response after 3 follow-ups"
            },
            {
              "fieldId": "next_followup_at",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "id": "d1000000-0000-4000-8000-000000000011",
      "name": "Mark Lost",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        220
      ]
    }
  ],
  "connections": {
    "Every Day 9am": {
      "main": [
        [
          {
            "node": "Get Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Leads": {
      "main": [
        [
          {
            "node": "Filter Due Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Leads": {
      "main": [
        [
          {
            "node": "Follow Up or Close?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up or Close?": {
      "main": [
        [
          {
            "node": "Write Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Lost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Follow-up": {
      "main": [
        [
          {
            "node": "Parse Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Write Follow-up",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email": {
      "main": [
        [
          {
            "node": "Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}